.form-window {

  .x-window-header-text  {
    color: #fff;
    font-size: 15px;
  }

  .x-window-body {
    background: #fff;
    padding: 10px;
  }

  .x-panel-body {
    background: #fff;
  }

  .x-toolbar {
    margin: 0;
    padding-top: 5px;
    border: none !important;
    background: none !important;
  }
}